body
{
    margin: 0px;
    padding: 0px;
    background-color: grey;
}

section#page_content
{
    max-width: 100%;
    min-height: 100%;
    margin: 5px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.extension_preview
{
    background: lightgrey;
}

/**
 * @brief default values for many aspects of the site
 */
 a.admin_menu
 {
     color: blue;
 }
 a.user_menu
 {
     color: blue;
 }
