.blog_entry
{
    margin-left: 10px;
    margin-right: 10px;
}
label.simple_blog_title
{
    margin: 2px;
    font-size: 24pt;
}

hr.simple_blog_hr
{
    height: 2px;
    background-color: green;
}

label.simple_blog_content,
div.simple_blog_comment_section
{
    margin-left: 20px;
}

label.simple_blog_comment
{
    margin-left: 10px;
}

div.simple_blog_menu_header
{
    text-align: center;
}

input.simple_blog_text_entry
{
    margin-bottom: 10px;
    scroll-behavior: auto;
    resize: both;
    overflow: auto;
    width: 100%;
    min-height: 8em;
}

div#blog_comment_editor,
div#blog_entry_editor
{
    background: white;
    min-height: 200px;
}
div#blog_comment_editor_toolbar,
div#blog_entry_editor_toolbar
{
    background: white:
}

.blog_toolbar
{
    float: right;
}